@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

:root {
  /* HSL color mode */
  --first-color: #7da9e6;
  --text-color: hsl(var(--hue-color), 8%, 45%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Tilt Warp', cursive;
  text-decoration: none;
  background-color: #fafafa;
  color: var(--text-color);
  transition: background 0.2s linear;
}

body.dark {
  background: #292c35;
}

body.dark p,
.dark .desktop-main-menu a {
  color: #fff;
}

ul {
  list-style: none;
}

.desktop-main-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
}

.desktop-main-menu ul {
  display: flex;
}

.desktop-main-menu ul li {
  margin-right: 20px;
  padding-bottom: 2px;
}

.desktop-main-menu a {
  color: var(--text-color);
  transition: color 0.3s ease-in;
}

.desktop-main-menu a:hover,
.desktop-main-menu a:focus {
  color: var(--first-color);
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.sun-moon {
  width: 30rem;
  height: 30rem;
  background: linear-gradient(225deg, #ff900b, #ff505b);
  border-radius: 50%;
  box-shadow: 0.1rem 0.275rem rgba(248, 106, 59, 0.2);
}

.dark .sun-moon {
  background: linear-gradient(255deg, #93cdff, #3c3a74);
  box-shadow: none;
}

.wrapper {
  position: fixed;
  right: 0;
  transform: translateX(-50%);
  bottom: 40px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.label .switch {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .switch {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}
